<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
	
	<title>{{ title }}</title>
</head>
<body>
	{{{ body}}}
</body>
</html>