<div class="container">
	<div class="row">
		<div class="column column-50 column-offset-25">
			<h1>LOGIN</h1>
		</div>
	</div>
	{{#if errorMsg}}
	<div class="row">
		<div class="column column-50 column-offset-25">
			<h3>{{errorMsg}}</h3>
		</div>
	</div>
	{{/if}}
	<div class="row">
		<div class="column column-50 column-offset-25">
			<form action="login" method="POST">
				<fieldset>
					<label for="username">Username:</label>
					<input type="text" name="username" placeholder="Enter your username here..." required="true">
					<br>
					<label for="password">Password:</label>
					<input type="password" name="password" placeholder="Between 6 and 12 characters..." required pattern="[a-zA-Z0-9_.-]{6,12}">
					<br>
					<button type="submit">Submit</button>
				</fieldset>
			</form>		
		</div>
	</div>
	<div class="row">
		<div class="column column-50 column-offset-25">
			<a href="/register">Create a new User</a>
		</div>
	</div>
</div>